.YatharthJainInfo, .AaravSharmaInfo {
    width: 550px;
    text-align: center;
    vertical-align: middle;
    margin: 50px 100px;
}

.YatharthJainInfo p, .AaravSharmaInfo p {
    margin: 30px;
}

p a {
    text-decoration: underline;
    color: blue;
}

.authorinfo {
    margin: 100px 100px;
}

.linkto {
    color: white;
    transtion: color 1s;
}

.linkto:hover {
    color: rgb(67, 149, 255);
}