.name, .email, .details {
    margin: 50px 0px;
    margin-top: 30px;
    height: 36px;
    border: 1px solid rgb(204, 204, 204);
    flex: 1;
    border-radius: 2px;
    box-shadow: inset 0px 1px 2px #eeeeee;
    font-size: 16px;
    width: 700px;
    display: block;
    font: Roboto, Arial;
}

textarea {
    font-family: Roboto, Arial;
    font-size: 16px;
    resize: none;
}

.details {
    height: 200px;
    width: 700px;
}

.inputs {
    width: 700px;
    height: 500px;
    margin: -750px 100px 250px 680px;
    font-family: Roboto, Arial;
}

.info {
    margin-left: 95px;
    margin-top: -100px;
    margin-bottom: 100px;
    width: 500px;
    text-align: center;
    vertical-align: middle;
}

.title {
    font-size: 30px;
    font-family: Roboto, Arial;
    color: chocolate;
    margin: 10px;
}


.contact {
    margin-top: 200px;
}

.submit {
    color: green;
    font-size: 20px;
    font-weight: 500;
    font-family: Roboto, Arial;
    border: 1px solid #cccccc;
    background-color: #f9f9f9;
    cursor: pointer;
    outline: none;
    margin-right: 8px;
    transition: background-color 1s;
    border-radius: 5px;
    padding: 10px 60px;
}

.submit:hover {
    background-color: #e4e4e4;
}

.popupcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup {
    width: 400px;
    background-color: rgb(0, 0, 0);
    border-radius: 6px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0px 30px 30px;
    color: #f8f8f8;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    backdrop-filter: blur(100px);
}

.openpopup {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    top: 50%;
}

.popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0px 10px;
}

.popup p {
    color: #f8f8f8;
}

.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0px;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.bib {
    font-size: 20px;
    margin: 50px;
    font-weight: 500;
    font-family: Roboto, Arial;
    text-decoration: underline;
    text-align: center;
    color: rgb(30, 128, 255);
}