.parallax{
    background-image: url("https://wallpaperaccess.com/full/554961.jpg");
    min-height: 800px;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
    text-align: left;
    text-shadow: 5px 5px rgba(60, 60, 60, 0.5);
    padding: 50px 0px;
}

.para-container{
    width: 700px;
    height: 750px;
    text-align: center;
    padding-left: 620px;
    margin: 70px 0px;
    line-height: 50px;
    font-size: 35px;
}

.arrow {
    width: 8%;
    filter: invert(1);
    transition: width 1s, filter 1s;
    cursor: pointer;
    filter: hue-rotate(1);
}

.arrow:hover {
    width: 10%;
    filter: invert(0.9);
}

.arrowdiv {
    margin-top: -540px;
    margin-bottom: 300px;
}

.content-container {
    margin: 100px 100px 70px 100px;
}

.linkto {
    color: white;
    transtion: color 1s;
}

.linkto:hover {
    color: rgb(67, 149, 255);
}

.bannertext {
    margin-top: 0px;
}