.junipervideo {
    background-position: fixed;
    display: inline-block;
    margin: 180px 0px;
}

.description {
    margin: 0px;
}

main {
    background-color: white;
}

.juniperstory {
    float: left;
    background-color: white;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin: 80px 80px;
    text-align: center;
}

.juniperstoryscene {
    float: left;
    display: inline-block;
}

strong {
    font-size: 30px;
}

.juniperstorycontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    margin: 80px 60px;
    text-align: center;
}

.author-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    text-align: center;
    margin: 80px 80px;
}

.authorimg {
    width: 600px;
    height: 480px;
}

.authordescription {
    float: left;
    background-color: white;
    margin: 0px;
    text-align: center;
}

.adescription {
    margin: 10px 0px;
}
